@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Nunito+Sans:ital,wght@1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

/* * {
    background-color: #ffffff;
    font-family: 'Comforter', cursive;
font-family: 'Nunito Sans', sans-serif;
} */

.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.navbar-container{
display: flex;
justify-content: flex-start;
padding: 15px;
gap: 100px;
}
.navbar-container > div > img {
    width: 200px;
    margin-top: 20px;
    margin-left: 100px;
}
.list{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    margin-top: 29px;
    gap: 50px;
    font-size: 30px;
}
.list-item {
    color: #808080;
    font-style: oblique;
}
.list-item:hover{
    color: black;
    font-weight: bold;
}
.button-group > .nav-button{
    background-color:rgb(148, 50, 239);
    height: 75px;
    width: 180px;
    padding: 15px;
    border-radius: 15px;
    border: none;   
    margin-left: 500px;
    color: #ffffff;
    font-size: large;
    ;
}

.banner-container {
    display: flex;
    margin-left: 100px;
}

.banner-container > div{
    display: flex;
    flex-direction: column;
}

.heading-text{
    margin-top: 100px;
    width: 550px;
    height: 200px;
    color: #422e66;
    font-size: 80px;
    font-weight: bold;
}

.heading-text > span{
    color: rgb(148, 50, 239);

}

.description{
    margin-top: 98px;
    color: #212020;
    width: 500px;
    height: 250px;
    font-size: 25px;
}

.btn{
    background-color: rgb(148,50,239);
    height: 70px;
    width: 250px;
    border-radius: 15px;
    color: #ffffff;
    font-size: large;
    border: none;
    top:1px;
    /* margin-top:px; */

}
.banner-container > div >img{
    margin-left: 200px;
    height: 750px;
    width: 1250px;

}

/* You can not modify anything in the HTML */
/* You can only modify the CSS file */